<div class="well">
<h1 class="text-center">Welcome <%= @username %></h1>
<div class="row">
		<a href="/users/<%= @username %>/games/jsracer">
			<div id="jsracer" class="col-sm-6">
				<img src="/images/jsracer-logo.jpg" alt="Start JS-Racer" class="img-responsive img-circle" alt="Responsive image">
				<h2 class="text-center">JS Racer</h2>
			</div>
		</a>

		<a href="/users/<%= @username %>/games/simon-says">
			<div id="simon-says" class="col-sm-6">
				<img src="/images/simon-says-logo.jpg" alt="Start Simon Says" class="img-responsive img-circle" alt="Responsive image">
				<h2 class="text-center">Simon Says</h2>
			</div>
		</a>
	</div>
</div>