<script type="text/javascript">
	$('#jsracer').on('click', function(){
		$.get( "<%= @username %>/games/jsracer" );
	});
</script>

<div class="container">
	<h1>Welcome <%= @username %></h1>
	<button id="jsracer">JS Racer</button>
</div>